
react_backend/__pycache__/
react_backend/**/*.pyc
react_backend/**/*.pyo
react_backend/**/*.pyd
react_backend/*.sqlite3
react_backend/staticfiles/
react_backend/media/
react_backend/*.log
react_backend/.env
react_backend/.venv/
react_backend/venv/
react_backend/env/

react_backend/celerybeat-schedule
react_backend/celerybeat.pid
react_backend/dump.rdb


react_backend/*.sql
react_backend/*.bak


inventorys/node_modules/
inventorys/build/
inventorys/dist/
inventorys/.env
inventorys/npm-debug.log*
inventorys/yarn-debug.log*
inventorys/yarn-error.log*
inventorys/.parcel-cache
inventorys/.next
inventorys/out
inventorys/coverage/
inventorys/*.lcov

.vscode/
.idea/
*.swp
.DS_Store
Thumbs.db
