.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 10px 0;
    background: white;
  }
  
  
  .search-container {
    display: flex;
    align-items: center;
    border-radius: 8px;
    flex-grow: 1;
    max-width: 20%;
    height: 46px;
  }
  
  .search-input {
    border: none;
    padding: 0.5rem;
    font-size: 16px;
    width: 100%;
    margin-left: 0.5rem;
  }
  
  .search-input:focus {
    outline: none;
  }

  .items-table-box {
    width: 100%;
    overflow-x: scroll;
    overflow-y: scroll;
    max-height: 70vh;
  }
  
  .items-table {
    width: 100%;
    border-collapse: collapse;
    background: white;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    border-radius: 8px;
    overflow-x: hidden;
  }
  
  .table-header {
    background-color: var(--primary);
    color: white;
    position: sticky;
    top: 0;
  }
  
  .table-header th {
    padding: 6px 10px;
    text-align: left;
    font-weight: 500;
  }
  
  .table-row {
    border-bottom: 1px solid #eee;
  }
  
  .table-row:last-child {
    border-bottom: none;
  }
  
  .table-row td {
    padding: 1rem;
    color: var(--gray-dark);
  }
  
  .action-button {
    color: var(--primary);
    cursor: pointer;
    transition: opacity 0.2s;
    background: none;
    border: none;
    padding: 0.5rem;
  }
  
  .add-item-button {
    background-color: var(--primary);
    color: white;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s;
    text-decoration: none;
  }
  
  .add-item-button:hover {
    background-color: var(--primary-dark);
  }

  .table-row.inactive {
    opacity: 0.75; /* increased from 0.45 */
    color: #808080; 
    background: #f8f8f8;
    transition: opacity 200ms ease, color 200ms ease, background 200ms ease;
  }
  
  .table-row.inactive .action-button {
    opacity: 0.5;
    pointer-events: auto;
    cursor: pointer;
    z-index: 10;
  }

  .table-row.inactive .action-button:hover {
    opacity: 1;
    filter: brightness(100%);
  }
  
  @media (max-width: 480px) {
    .item-main-container {
      padding: 1rem;
    }
    
    .table-header th,
    .table-row td {
      padding: 0.75rem;
      font-size: 0.9rem;
    }

    .item-header{
      display: flex;
      align-items: stretch;
      flex-wrap: wrap;
    }

    .ivi_display_box1 {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .ivi_subboxes1 {
      width: 100%;
      display: flex;
      flex-direction: column;
    }

    .search-container {
      max-width: 100%;
      margin-right: 0px;
    }

    .create_access{
      width: 99.5%;
    }
  }